@import "tailwindcss";

:root {
  --font-ui-sans: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;

  --background: #ffffff;
  --foreground: #171717;

  --surface-primary: #a7762d;
  --surface-inverse: #fdfdfd;
  --surface-secundary: #101828;
  --surface-enabled-primary: #ffedd4;

  --text-default: #101828;
  --text-secundary: #101828;
  --text-inverse: #fdfdfd;
  --text-inverse-secundary: #eeeeee;

  --icon-active: #daa04e;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-roboto-sans);
  --font-mono: var(--font-roboto-mono);

  --color-surface-primary: var(--surface-primary);
  --color-surface-inverse: var(--surface-inverse);
  --color-surface-secundary: var(--surface-secundary);
  --color-surface-enabled-primary: var(--surface-enabled-primary);

  --color-text-default: var(--text-inverse);
  --color-text-secundary: var(--text-secundary);
  --color-text-inverse: var(--text-inverse);
  --color-text-inverse-secundary: var(--text-inverse-secundary);

  --color-icon-active: var(--icon-active);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-roboto-sans);
}
