@import "tailwindcss";

:root {
  --font-ui-sans: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;

  --background: #ffffff;
  --foreground: #171717;

  --surface-primary: #a7762d;
  --surface-hover-primary: #946826;
  --surface-inverse: #fdfdfd;
  --surface-inverse-secundary: #f9fafb;
  --surface-secundary: #101828;
  --surface-enabled-primary: #ffedd4;

  --text-default: #101828;
  --text-secundary: #4a5565;
  --text-label: #364153;
  --text-inverse: #fdfdfd;
  --text-inverse-secundary: #eeeeee;
  --text-active: #daa04e;
  --text-grey-light: #99a1af;

  --icon-active: #daa04e;
  --icon-inverse: #fdfdfd;

  --text-md: 0.875rem;

  --stroke-default: #d1d5dc;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-roboto-sans);
  --font-mono: var(--font-roboto-mono);

  --color-surface-primary: var(--surface-primary);
  --color-surface-inverse: var(--surface-inverse);
  --color-surface-inverse-secundary: var(--surface-inverse-secundary);
  --color-surface-secundary: var(--surface-secundary);
  --color-surface-enabled-primary: var(--surface-enabled-primary);

  --color-surface-hover-primary: var(--surface-hover-primary);

  --color-text-default: var(--color-text-default);
  --color-text-secundary: var(--text-secundary);
  --color-text-label: var(--text-label);
  --color-text-inverse: var(--text-inverse);
  --color-text-inverse-secundary: var(--text-inverse-secundary);
  --color-text-active: var(--text-active);
  --color-text-grey-light: var(--text-grey-light);

  --color-icon-active: var(--icon-active);
  --color-icon-inverse: var(--icon-inverse);

  --color-stroke-default: var(--stroke-default);

  --text-md: var(--text-md);
}

body {
  background: var(--background);
  color: var(--text-default);
  font-family: var(--font-roboto-sans);
}
